header, footer {
  background-color: #bce9d0;
  padding: 10px;
}

main {
  padding: 10px;
  background-color: silver;
}

.post1 , .post2 , .post3  {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
}

.post1 img , .post2 img , .post3 img {
  margin: 20px;
  
}

.footer-columns {
  display: flex;
}

.footer-column {
  flex: 50%;
  margin: 20px;
}
.post-info{
  color: rgb(134, 129, 153);
}
.comment {
  background-color: rgb(155, 155, 155);
  padding: 20px;
  border-radius: 10px;
  margin-top: 10px;

}
.author {
  margin-top: 0px;
  margin-bottom: 10px;

}
.date{
  color: rgb(255, 255, 255);
  margin-top: 0px;
  margin-bottom: 10px;
}
#sub-comment {
  margin-left: 40px;
}
.carousele{
  margin: 10px;
}
.carousele div img{
  width: 100%;
}




.post1{font-family: 'Jost', sans-serif;}
.post2{font-family: 'Jost', sans-serif;}
.post3{font-family: 'Jost', sans-serif;}